
<div class="text-center p-5 bg-gray-100">

   <div  class="min-w-72  p-5 m-2">
     <div  class="text-gray-900 text-lg  font-bold rounded-lg " >{{data}}
     </div>
     
   </div>
   <div class="w-full flex justify-center gap-10 my-5" dir="rtl">
     <button  mat-raised-button  class="w-1/2 !bg-green-800 !text-white !text-lg hover:!bg-green-600 " [mat-dialog-close]="true" cdkFocusInitial>
       نعم
     </button>
     <button class="w-1/2 !bg-gray-700 !text-white  !text-lg hover:!bg-gray-400"  mat-raised-button  [mat-dialog-close]="false">
       لا
     </button>
   </div>
     </div>
     